In [1]:
import CashierPhyton as test

In [2]:
# Test 1: Menambahkan item
# transaksi = test.transaction()

transaksi = test.transaction()
transaksi.add_item('Yakult', 1, 10_000)
transaksi.add_item('Rice Cooker', 1, 350_000)
transaksi.add_item('Sabun', 3, 40_000)
transaksi.add_item('Brokoli', 4, 35_000)
transaksi.add_item('Minyak goreng', 6, 35_000)

Ditambahakan ke pesanan Anda:  Yakult, Qty: 1, Harga: Rp10000
Ditambahakan ke pesanan Anda:  Rice Cooker, Qty: 1, Harga: Rp350000
Ditambahakan ke pesanan Anda:  Sabun, Qty: 3, Harga: Rp40000
Ditambahakan ke pesanan Anda:  Brokoli, Qty: 4, Harga: Rp35000
Ditambahakan ke pesanan Anda:  Minyak goreng, Qty: 6, Harga: Rp35000

In [3]:
# Test 2: menampilkan orderan
# transaksi.show_order()

transaksi.show_order()

Berikut daftar belanjaan Anda:
+---------------+-------------+----------------+-----------------+
|   Nama Item   | Jumlah Item | Harga/Item(Rp) | Harga Total(Rp) |
+---------------+-------------+----------------+-----------------+
|    Yakult     |      1      |     10000      |      10000      |
|  Rice Cooker  |      1      |     350000     |     350000      |
|     Sabun     |      3      |     40000      |     120000      |
|    Brokoli    |      4      |     35000      |     140000      |
| Minyak goreng |      6      |     35000      |     210000      |
+---------------+-------------+----------------+-----------------+

In [4]:
# Test 3: Mengubah nama item
# transaksi.update_nama_item('nama_item', 'nama_baru')


transaksi.update_nama_item('Sabun', 'Sabun Cair')

Sabun berhasil duperbarui menjadi Sabun Cair.

Berikut daftar belanjaan Anda:
+---------------+-------------+----------------+-----------------+
|   Nama Item   | Jumlah Item | Harga/Item(Rp) | Harga Total(Rp) |
+---------------+-------------+----------------+-----------------+
|    Yakult     |      1      |     10000      |      10000      |
|  Rice Cooker  |      1      |     350000     |     350000      |
|    Brokoli    |      4      |     35000      |     140000      |
| Minyak goreng |      6      |     35000      |     210000      |
|  Sabun Cair   |      3      |     40000      |     120000      |
+---------------+-------------+----------------+-----------------+

In [5]:
# Test 4: Mengubah jumlah item
# transaksi.update_jumlah_item('nama_item', jumlah_baru)

transaksi.update_jumlah_item('Yakult', 7)

Jumlah Yakult berhasil diperbarui menjadi 7.

Berikut daftar belanjaan Anda:
+---------------+-------------+----------------+-----------------+
|   Nama Item   | Jumlah Item | Harga/Item(Rp) | Harga Total(Rp) |
+---------------+-------------+----------------+-----------------+
|    Yakult     |      7      |     10000      |      70000      |
|  Rice Cooker  |      1      |     350000     |     350000      |
|    Brokoli    |      4      |     35000      |     140000      |
| Minyak goreng |      6      |     35000      |     210000      |
|  Sabun Cair   |      3      |     40000      |     120000      |
+---------------+-------------+----------------+-----------------+

In [6]:
# Test 5: Mengubah harga item
# transaksi.update_harga_item('nama_item', harga_baru)

transaksi.update_harga_item('Rice Cooker', 40_0000)

Harga Rice Cooker berhasil diperbarui menjadi Rp400000.

Berikut daftar belanjaan Anda:
+---------------+-------------+----------------+-----------------+
|   Nama Item   | Jumlah Item | Harga/Item(Rp) | Harga Total(Rp) |
+---------------+-------------+----------------+-----------------+
|    Yakult     |      7      |     10000      |      70000      |
|  Rice Cooker  |      1      |     400000     |     400000      |
|    Brokoli    |      4      |     35000      |     140000      |
| Minyak goreng |      6      |     35000      |     210000      |
|  Sabun Cair   |      3      |     40000      |     120000      |
+---------------+-------------+----------------+-----------------+

In [7]:
# Test 6: Menghapus item
# transaksi.delete_item

transaksi.delete_item('Yakult')

Menghapus item Yakult
Daftar belanjaan Anda berhasil diperbarui.

Berikut daftar belanjaan Anda:
+---------------+-------------+----------------+-----------------+
|   Nama Item   | Jumlah Item | Harga/Item(Rp) | Harga Total(Rp) |
+---------------+-------------+----------------+-----------------+
|  Rice Cooker  |      1      |     400000     |     400000      |
|    Brokoli    |      4      |     35000      |     140000      |
| Minyak goreng |      6      |     35000      |     210000      |
|  Sabun Cair   |      3      |     40000      |     120000      |
+---------------+-------------+----------------+-----------------+

In [8]:
# Test 7: Check orderan
# transaksi.check_order()

transaksi.check_order()

+---------------+-------------+----------------+-----------------+
|   Nama Item   | Jumlah Item | Harga/Item(Rp) | Harga Total(Rp) |
+---------------+-------------+----------------+-----------------+
|  Rice Cooker  |      1      |     400000     |     400000      |
|    Brokoli    |      4      |     35000      |     140000      |
| Minyak goreng |      6      |     35000      |     210000      |
|  Sabun Cair   |      3      |     40000      |     120000      |
+---------------+-------------+----------------+-----------------+
Pesanan sudah benar.

In [9]:
# Test 8: Menghapus item / mengulang proses input data orderan
# transaksi.reset_transaction()

transaksi.reset_transaction()

Semua daftar berlanjaan Anda berhasil dihapus.

In [10]:
transaksi = test.transaction()
transaksi.add_item('Yakult', 1, 10_000)
transaksi.add_item('Rice Cooker', 1, 350_000)
transaksi.add_item('Sabun', 3, 40_000)
transaksi.add_item('Brokoli', 4, 35_000)
transaksi.add_item('Minyak goreng', 6, 35_000)

Ditambahakan ke pesanan Anda:  Yakult, Qty: 1, Harga: Rp10000
Ditambahakan ke pesanan Anda:  Rice Cooker, Qty: 1, Harga: Rp350000
Ditambahakan ke pesanan Anda:  Sabun, Qty: 3, Harga: Rp40000
Ditambahakan ke pesanan Anda:  Brokoli, Qty: 4, Harga: Rp35000
Ditambahakan ke pesanan Anda:  Minyak goreng, Qty: 6, Harga: Rp35000

In [12]:
# Test 9: Menghitung harga total
# transaksi.proses_bayar()

transaksi.proses_bayar()

+---------------+-------------+----------------+-----------------+
|   Nama Item   | Jumlah Item | Harga/Item(Rp) | Harga Total(Rp) |
+---------------+-------------+----------------+-----------------+
|    Yakult     |      1      |     10000      |      10000      |
|  Rice Cooker  |      1      |     350000     |     350000      |
|     Sabun     |      3      |     40000      |     120000      |
|    Brokoli    |      4      |     35000      |     140000      |
| Minyak goreng |      6      |     35000      |     210000      |
+---------------+-------------+----------------+-----------------+
Pesanan sudah benar.
Anda mendapatkan diskon 10%,sebesar Rp 83000.
Total belanja Anda menjadi: Rp 747000

In [17]:
# Test 10: test ERROR

transaksi.add_item('Roti', 's', 10_000)

ERROR: INPUT SALAH. Coba Lagi!

In [18]:
transaksi.add_item('Roti', -3, 10_000)

Ditambahakan ke pesanan Anda:  Roti, Qty: -3, Harga: Rp10000

In [19]:
transaksi.check_order()

+---------------+-------------+----------------+-----------------+
|   Nama Item   | Jumlah Item | Harga/Item(Rp) | Harga Total(Rp) |
+---------------+-------------+----------------+-----------------+
|    Yakult     |      1      |     10000      |      10000      |
|  Rice Cooker  |      1      |     350000     |     350000      |
|     Sabun     |      3      |     40000      |     120000      |
|    Brokoli    |      4      |     35000      |     140000      |
| Minyak goreng |      6      |     35000      |     210000      |
|     Roti      |     -3      |     10000      |     -30000      |
+---------------+-------------+----------------+-----------------+
tedapat kesalahan input nama / jumlah/ harga. Mohon cek ulang pesanan

In [20]:
transaksi.proses_bayar()

+---------------+-------------+----------------+-----------------+
|   Nama Item   | Jumlah Item | Harga/Item(Rp) | Harga Total(Rp) |
+---------------+-------------+----------------+-----------------+
|    Yakult     |      1      |     10000      |      10000      |
|  Rice Cooker  |      1      |     350000     |     350000      |
|     Sabun     |      3      |     40000      |     120000      |
|    Brokoli    |      4      |     35000      |     140000      |
| Minyak goreng |      6      |     35000      |     210000      |
|     Roti      |     -3      |     10000      |     -30000      |
+---------------+-------------+----------------+-----------------+
tedapat kesalahan input nama / jumlah/ harga. Mohon cek ulang pesanan
ERROR

In [21]:
transaksi.show_order()

Berikut daftar belanjaan Anda:
+---------------+-------------+----------------+-----------------+
|   Nama Item   | Jumlah Item | Harga/Item(Rp) | Harga Total(Rp) |
+---------------+-------------+----------------+-----------------+
|    Yakult     |      1      |     10000      |      10000      |
|  Rice Cooker  |      1      |     350000     |     350000      |
|     Sabun     |      3      |     40000      |     120000      |
|    Brokoli    |      4      |     35000      |     140000      |
| Minyak goreng |      6      |     35000      |     210000      |
|     Roti      |     -3      |     10000      |     -30000      |
+---------------+-------------+----------------+-----------------+